.buttonContainer {
    display: flex;
    margin: 20px 0;

    @media (max-width: 960px) {
        margin: 10px 0;
    }

    button, label {
        &:not(:first-child) {
            margin-left: 10px;
        }
    }
}
