.input {
	width: 100%;
	position: relative;

    label {
        font-size: 18px;
	    font-weight: 500;
    }

	input {
        font-size: 16px;
	    font-weight: 500;
		margin-top: 6px;
		width: 100%;
		border-radius: 16px;
		backdrop-filter: blur(10px);
		height: 32px;
		padding: 12px 16px 12px 20px;
		border: 1px solid var(--gradient-white-50, rgba(255, 255, 255, 0.20));
		background: var(
            --gradient-white-50,
            linear-gradient(
                180deg,
                rgba(255, 255, 255, 0.10) 0%,
                rgba(255, 255, 255, 0.13) 50%,
                rgba(255, 255, 255, 0.10) 100%
            )
        );

        &:disabled {
            background: $grayDark;
        }
	}
}
