.canvas {
    display: flex;
    margin: 10px auto auto 0;
    flex-flow: row wrap;
    width: 50%;
    max-width: 80vh;
    aspect-ratio: 1;
    border-radius: 12px;
    background: $gradientWhite75;
    overflow: hidden;
    cursor: pointer;

    @media (max-width: 800px) {
        width: 80%;
        max-width: 100%;
        margin: 10px auto 20px auto;
    }
}
