.button {
    position: relative;
    background: transparent;
    height: 52px;
	padding: 12px 20px;
	border-radius: 16px;
	text-align: center;
    z-index: 0;

	font-weight: 500;
    font-size: 18px;

	@media (max-width: 960px) {
		height: 40px;
		border-radius: 12px;
		padding: 12px 16px;
		font-size: 14px;
	}
}

label {
	&.button {
		display: flex;
		align-items: center;
		height: 28px;
		cursor: pointer;

		@media (max-width: 960px) {
			height: 16px;
		}

		&[active="false"] {
			cursor: default;
		}
	}
}

.input {
	display: none;
}

.primary {
    color: $white;

	&::before {
		content: "";
		position: absolute;
		border-radius: inherit;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: -1;
		background: $gradientAccent;
	}

	&::after {
		content: "";
		position: absolute;
		border-radius: inherit;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: -1;
		background: $gradientHover;
		transition: 0.3s ease-out;
		opacity: 0;
	}

    &:hover {
        &::after {
            opacity: 1;
        }
    }

    &:active {
        &::after {
            opacity: 0;
        }
    }

	&[active="false"], &:disabled {
        &::before, &::after {
			opacity: 0;
		}

		background: $gradientBlocked;
        color: $white30;
	}
}

.soft {
    color: $white;

	&::before {
		content: "";
		position: absolute;
		border-radius: inherit;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: -1;
		background: $grayMedium;
	}

	&::after {
		content: "";
		position: absolute;
		border-radius: inherit;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: -1;
		background: $white30;
		transition: 0.3s ease-out;
		opacity: 0;
	}

    &:hover {
        &::after {
            opacity: 1;
        }
    }

    &:active {
        &::after {
            opacity: 0;
        }
    }

	&[active="false"], &:disabled {
        &::before, &::after {
			opacity: 0;
		}

		background: $gradientWhite50;
        color: $white30;
	}
}
