.field {
    display: flex;
    margin-right: auto;
    flex-flow: row wrap;
    height: 90%;
    aspect-ratio: 1 / 1;
    position: relative;
    
    canvas {
        position: absolute;
        z-index: 0;
    }

    .box {
        position: absolute;
        border: 1px solid $grayDark;
        z-index: 1;
        background: {
            color: transparent;
            position: center;
            repeat: no-repeat;
            size: 100% 100%;
        }

        &:disabled {
            border: 0;
        }
    }
}
