.li {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;

    .link {
        $transition: 300ms ease;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 40px;
        position: relative;
        border-radius: 12px;
        padding: 0 16px;
        color: $gray;
        transition: color $transition, opacity $transition;
        z-index: 0;

        font-weight: 500;
        font-size: 18px;

        @media (max-width: 960px) {
            font-size: 14px;
        }

        &[active="true"], &:hover {
            color: $white;
        }

        &[active="true"] {
            position: relative;

            &::after {
                content: "";
                height: 32px;
                width: 100%;
                border-radius: 200px;
                background: $gradientAccent;
                opacity: 0.699999988079071;
                filter: blur(14px);
                position: absolute;
                left: 0;
                z-index: -1;
                top: 3px;
            }
        }
    }

    &:hover {
        color: $white;
    }
}
