.start {
    background: {
        image: url("/steve.svg");
        position: center;
        repeat: no-repeat;
        size: 120% 120%;
    }
}

.end {
    background: {
        image: url("/diamond.svg");
        position: center;
        repeat: no-repeat;
        size: 120% 120%;
    }
}

.active {
    background: {
        image: url("/grass.svg");
        position: center;
        repeat: no-repeat;
        size: 120% 120%;
    }
}

.barrier {
    background: {
        image: url("/bedrock.svg");
        position: center;
        repeat: no-repeat;
        size: 120% 120%;
    }
}
