.field {
    display: flex;
    margin-right: auto;
    flex-flow: row wrap;
    height: 90%;
    aspect-ratio: 1 / 1;
}

.cell {
    background: {
        position: center;
        repeat: no-repeat;
        size: 110% 110%;
        color: $success;
    }

    &.empty {
        background-image: url("/grass.svg")
    }
    &.barrier {
        background-image: url("/bedrock.svg")
    }
    &.start {
        background-image: url("/steve.svg");
    }
    &.end {
        background-image: url("/diamond.svg");
    }
    &.process {
        background-image: url("/water.svg");
    }
    &.path {
        background-image: url("/gold.svg");
    }

    &[active="true"] {
        background-blend-mode: soft-light;
    }
    &:hover {
        border: 1px solid $grayDark;
    }
    &:disabled {
        border: 0;
    }
}
