.buttonContainer {
    display: flex;
    margin: 20px 0;

    button {
        margin-right: 10px;
    }
}

.status {
    font-size: 20px;
    color: $success;
}

.inputContainer {
    margin: 30px 0 20px;
    width: 80%;
}
