.empty {
    display: flex;
    margin: 10px auto auto 0;
    flex-flow: row wrap;
    width: 50%;
    max-width: 80vh;
    aspect-ratio: 1;
    position: relative;
    background: {
        image: url("/grass.png");
        position: center;
        size: 10% 10%;
    }

    @media (max-width: 800px) {
        width: 80%;
        max-width: 100%;
        margin: 10px auto 20px auto;
    }
}
